@model Wema_CAM.Models.CAM

@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jHtmlArea-0.7.5.js")" type="text/javascript"></script>
<link rel="Stylesheet" type="text/css" href="~/Content/jHtmlArea/jHtmlArea.css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>


<style>
     .tblboda {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    padding: 5px;  
    
      /*padding-right: 0px;  
      padding-bottom: 0.25in;  
      padding-left: 5em;*/  
      max-width:1500px;
    }

    .tblboda1 {
        border-width: 3px;
        border-style: solid;
        border-color: #000000;
        padding: 5px;
        max-width: 1500px;
        /*padding-right: 0px;  
      padding-bottom: 0.25in;  
      padding-left: 5em;*/
    }
   
</style>
<style>
div.jHtmlArea .ToolBar ul li a.custom_disk_button 
{
    background: url(images/disk.png) no-repeat;
    background-position: 0 0;
}
</style>
<h2></h2>

@if (ViewBag.RequiredFieldsError != null)
{
   <h3>@ViewBag.RequiredFieldsError</h3><a href="javascript:history.back(1)">back</a>
}
else
{
<h2><u>Create New Credit Appraisal Memorandum</u></h2>
<br />
<br />
<h3>Please note: Should you decide to save this form, kindly ensure that at least the facility amount in saved in the field provided. 
    Ensure that no commas, fullstops, text or other special characters are put in that field.
</h3>
<br />
<br />
<br />
    using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CAM</legend>
          <div class="tblboda">
            <h3><u>Applicant's Brief</u></h3>
          <table>
              
              
              <tr>
                  <td>
                <b>  ApplicantType</b>
                      </td>
                   @foreach (Wema_CAM.appbrief ab in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @ab.apptype
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                     <b>Legal Identity Name</b> 
                  </td>
                   @foreach (Wema_CAM.appbrief b in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @b.legalidentityname
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                      <b>Year Of Incorporation</b>
                  </td>
                   @foreach (Wema_CAM.appbrief c in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @c.yearofincorporation
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                     <b>RC Number</b> 
                  </td>
                   @foreach (Wema_CAM.appbrief d in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @d.rcnumber
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                      <b>Business Address</b>
                  </td>
                   @foreach (Wema_CAM.appbrief e in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @e.businessaddress
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                    <b>Names Of Auditors</b>  
                  </td>
                   @foreach (Wema_CAM.appbrief f in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @f.nameofauditors
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                    <b>Nature Of Business</b>  
                  </td>
                   @foreach (Wema_CAM.appbrief g in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @g.natureofbusiness
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                     <b>Industry</b> 
                  </td>
                   @foreach (Wema_CAM.appbrief h in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @h.industry
                  </td>
                   }
              </tr>
              <tr>
                  <td>
                      <b>Product Range</b>
                  </td>
                   @foreach (Wema_CAM.appbrief i in ViewBag.ApplicantsBriefInfo)
                   {
                 <td>
                     @i.productrange
                 </td>
                   }
              </tr>
              <tr>
                  <td>
                     <b>Major Clients</b> 
                  </td>
                   @foreach (Wema_CAM.appbrief j in ViewBag.ApplicantsBriefInfo)
                   {
                  <td>
                      @j.majorclients
                  </td>
                   }
              </tr>
              
          </table>
          
               
            </div>
        <br />
       
        <div class="tblboda">
            <h3><u>Credit Request Summary</u></h3>
            <table>
               
                    <tr>
                        <td>
                       <b> CAM Id</b>
                            </td>
                         @foreach (Wema_CAM.creditrequest p in ViewBag.CreditRequestInfo)
                         {
                        <td>
                             @p.camid
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                       <b>Facility Type</b> 
                            </td>
                         @foreach (Wema_CAM.creditrequest cr in ViewBag.CreditRequestInfo)
                         {
                        <td>
                            @cr.facilitytype
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                       <b>Facility Amount</b>
                            </td>
                         @foreach (Wema_CAM.creditrequest c in ViewBag.CreditRequestInfo)
                         {
                        <td>
                             @c.facilityamount
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                        <b>Applicant Type</b>
                            </td>
                         @foreach (Wema_CAM.creditrequest d in ViewBag.CreditRequestInfo)
                         {
                        <td>
                            @d.applicanttype
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                           <b>Purpose</b> 
                        </td>
                         @foreach (Wema_CAM.creditrequest e in ViewBag.CreditRequestInfo)
                         {
                        <td>
                            @e.purpose
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                            <b>Tenor</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest f in ViewBag.CreditRequestInfo)
                         {
                        <td>
                              @f.tenor
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                             <b>Interest Rate</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest g in ViewBag.CreditRequestInfo)
                         {
                       <td>
                            @g.interestrate
                       </td>
                         }
                    </tr>
                    <tr>
                        <td>
                             <b>Processing Fee</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest h in ViewBag.CreditRequestInfo)
                         {
                        <td>
                             @h.processingfee
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                            <b>Commitment Fee</b>  
                        </td>
                         @foreach (Wema_CAM.creditrequest i in ViewBag.CreditRequestInfo)
                         {
                      <td>
                           @i.managementfee
                      </td>
                         }
                    </tr>
                    <tr>
                        <td>
                             <b>LC Commission</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest j in ViewBag.CreditRequestInfo)
                         {
                       <td>
                           @j.lccommission
                       </td>
                         }
                    </tr>
                    <tr>
                        <td>
                           <b>Other Charges</b> 
                        </td>
                         @foreach (Wema_CAM.creditrequest k in ViewBag.CreditRequestInfo)
                         {
                        <td>
                             @k.othercharges
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                             <b>COT Rate</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest l in ViewBag.CreditRequestInfo)
                         {
                       <td>
                              @l.cotrate
                       </td>
                         }
                    </tr>
                    <tr>
                        <td>
                             <b>Source Of Repayment</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest m in ViewBag.CreditRequestInfo)
                         {
                       <td>
                            @m.sourceofrepayment
                       </td>
                         }
                    </tr>
                    <tr>
                        <td>
                              <b>Mode of Repayment</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest n in ViewBag.CreditRequestInfo)
                         {
                     <td>
                           @n.modeofrepayment
                     </td>
                         }
                    </tr>
                    <tr>
                        <td>
                            <b>Security</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest o in ViewBag.CreditRequestInfo)
                         {
                        <td>
                             @o.security
                        </td>
                         }
                    </tr>
                    <tr>
                        <td>
                               <b>Guarantee(s)</b>
                        </td>
                         @foreach (Wema_CAM.creditrequest p in ViewBag.CreditRequestInfo)
                         {
                     <td>
                         @p.guarantee
                     </td>
                         }
                    </tr>

                
                
            </table>
        </div>
        <br />
       

      @*  <h3>PLEASE SELECT NEXT USER TO MOVE CAM TO</h3>
        @Html.DropDownList("NextLevelSupervisor", (SelectList)ViewBag.NextLevelList)
      *@
      
        <h3>3.0 DIRECTORS AND SHAREHOLDERS’ DETAILS</h3>
        <div class="editor-label">
            <h3>3.1 @Html.DisplayNameFor(model => model.Ownership)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Ownership, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.Ownership)
        </div>

        <div class="editor-label">
          <h3>3.2 @Html.DisplayNameFor(model => model.BoardAndManagement)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.BoardAndManagement, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.BoardAndManagement)
        </div>

        <div class="editor-label">
            <h3>3.3 @Html.DisplayNameFor(model => model.ProfileOfBoardAndManagement)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ProfileOfBoardAndManagement, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.ProfileOfBoardAndManagement)
        </div>
<h3>4.0 OBLIGOR’S BUSINESS BACKGROUND AND SCOPE OF OPERATION</h3>
        <div class="editor-label">
           <h3>4.2 @Html.DisplayNameFor(model => model.HistoryAndScopeOfOperation)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.HistoryAndScopeOfOperation, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.HistoryAndScopeOfOperation)
        </div>

        <div class="editor-label">
           <h3>4.3 @Html.DisplayNameFor(model => model.BorrowingPowerOfDirectors)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.BorrowingPowerOfDirectors, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.BorrowingPowerOfDirectors)
        </div>

        <div class="editor-label">
           <h3>5.0 @Html.DisplayNameFor(model => model.IndustryAnalysis)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.IndustryAnalysis, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.IndustryAnalysis)
        </div>
         <h3>6.0 THE REQUEST</h3>
        <div class="editor-label">
           <h3>6.1 @Html.DisplayNameFor(model => model.BackgroundToTheRequest)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.BackgroundToTheRequest, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.BackgroundToTheRequest)
        </div>

        <div class="editor-label">
           <h3>6.2 @Html.DisplayNameFor(model => model.TransactionDetails)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TransactionDetails, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.TransactionDetails)
        </div>

        <div class="editor-label">
            <h3>7.0 @Html.DisplayNameFor(model => model.AccountPerformanceWithWemaBank)</h3>
        <h3>7.1 LENGTH OF RELATIONSHIP</h3>
        <H3>7.2 ACCOUNT TURNOVER AND EARNINGS FOR THE LAST 5 MONTHS</H3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.AccountPerformanceWithWemaBank, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.AccountPerformanceWithWemaBank)
        </div>

        <div class="editor-label">
            <h3>7.3 @Html.DisplayNameFor(model => model.HighlightsOfOtherPerformanceIndicators)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.HighlightsOfOtherPerformanceIndicators, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.HighlightsOfOtherPerformanceIndicators)
        </div>

        <div class="editor-label">
            <h3>7.4 @Html.DisplayNameFor(model => model.Balance)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Balance, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.Balance)
        </div>

        <div class="editor-label">
           <h3>7.6 @Html.DisplayNameFor(model => model.SwingAnalysisForLastSixMonths)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.SwingAnalysisForLastSixMonths, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.SwingAnalysisForLastSixMonths)
        </div>

        <div class="editor-label">
           <h3>7.7 @Html.DisplayNameFor(model => model.CommentsOnAccountPerformance)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CommentsOnAccountPerformance, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.CommentsOnAccountPerformance)
        </div>

        <div class="editor-label">
            <h3>8.0 @Html.DisplayNameFor(model => model.AccountPerformanceWithOtherBanks)</h3>
        <h3>8.1 NUMBER OF MONTHS</h3>
        <h3>PERIOD</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.AccountPerformanceWithOtherBanks, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.AccountPerformanceWithOtherBanks)
        </div>

        <div class="editor-label">
          <h3>9.0 @Html.DisplayNameFor(model => model.ProportionalAnalysisOfCompanyTurnover)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ProportionalAnalysisOfCompanyTurnover, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.ProportionalAnalysisOfCompanyTurnover)
        </div>

        <div class="editor-label">
            <h3>10.0 @Html.DisplayNameFor(model => model.TotalBorrowingFromWemaAndOtherBanks)</h3>
        <h3>10.1 Existing Facilities (Direct Borrowing from Wema Bank Plc)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TotalBorrowingFromWemaAndOtherBanks, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.TotalBorrowingFromWemaAndOtherBanks)
        </div>

        <div class="editor-label">
             <h3>10.2 @Html.DisplayNameFor(model => model.RelatedFacilities)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.RelatedFacilities, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.RelatedFacilities)
        </div>

        <div class="editor-label">
           <h3>10.3 @Html.DisplayNameFor(model => model.ExistingBorrowingFromOtherBanks)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ExistingBorrowingFromOtherBanks, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.ExistingBorrowingFromOtherBanks)
        </div>

        <div class="editor-label">
            <h3>11.0 @Html.DisplayNameFor(model => model.CreditCheckOnCRMS)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CreditCheckOnCRMS, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.CreditCheckOnCRMS)
        </div>

        <div class="editor-label">
           <h3> @Html.DisplayNameFor(model => model.FinancialReview)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.FinancialReview, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.FinancialReview)
        </div>

        <div class="editor-label">
           <h3> @Html.DisplayNameFor(model => model.CapitalAdequacy)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CapitalAdequacy, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.CapitalAdequacy)
        </div>

        <div class="editor-label">
            <h3>13.0  @Html.DisplayNameFor(model => model.TransactionDynamics)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TransactionDynamics, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.TransactionDynamics)
        </div>
        <h3>14.0 FACILITY CONDITIONS</h3>
        <div class="editor-label">
            <h3>14.1 @Html.DisplayNameFor(model => model.ConditionsPrecedentToDrawdown)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ConditionsPrecedentToDrawdown, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.ConditionsPrecedentToDrawdown)
        </div>

        <div class="editor-label">
            <h3>14.2 @Html.DisplayNameFor(model => model.ConditionsAfterDrawdown)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ConditionsAfterDrawdown, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.ConditionsAfterDrawdown)
        </div>

        <div class="editor-label">
            <h3>15.0 @Html.DisplayNameFor(model => model.RiskControlMeasures)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.RiskControlMeasures, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.RiskControlMeasures)
        </div>

        <div class="editor-label">
             <h3>16.0 @Html.DisplayNameFor(model => model.KeyRisksAndMitigatingMeasures)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.KeyRisksAndMitigatingMeasures, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.KeyRisksAndMitigatingMeasures)
        </div>

        <div class="editor-label">
           <h3>17.0 @Html.DisplayNameFor(model => model.JustificationForTheCredit)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JustificationForTheCredit, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.JustificationForTheCredit)
        </div>

        <div class="editor-label">
            <h3>18.0 @Html.DisplayNameFor(model => model.Security)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Security, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.Security)
        </div>

        <div class="editor-label">
            <h3> @Html.DisplayNameFor(model => model.Guarantee)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Guarantee, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.Guarantee)
        </div>

        <div class="editor-label">
             <h3>19.0 @Html.DisplayNameFor(model => model.CreditRiskRating)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CreditRiskRating, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.CreditRiskRating)
        </div>

        <div class="editor-label">
           <h3>20.0 @Html.DisplayNameFor(model => model.RegionalExecutiveComments)</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.RegionalExecutiveComments, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.RegionalExecutiveComments)
        </div>
        @if (Session["UserFunction"] == "CRA")
        {
        <div class="editor-label">
            <h3>21.0  @Html.DisplayNameFor(model => model.CreditQualityAssuranceReview) </h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CreditQualityAssuranceReview, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.CreditQualityAssuranceReview)
        </div>
        }
        <div class="editor-label">
            <h3>22.0   @Html.DisplayNameFor(model => model.Recommendation) </h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Recommendation, new { @class = "foo" })
            @Html.ValidationMessageFor(model => model.Recommendation)
        </div>

       
        <div class="editor-label">
            <h3>Total Commitment(In Naira)</h3>
           @*<h3>24.0 @Html.DisplayNameFor(model => model.TotalFacilityAmount) </h3>*@
           @* <h6>(Please specify the total commitment in the field provided without the currency or any commas or fullstops.</h6>*@
        </div>
       @* <div class="editor-field">
            @Html.EditorFor(model => model.TotalFacilityAmount)
            @Html.ValidationMessageFor(model => model.TotalFacilityAmount)
        </div>*@
        @if (ViewBag.TotalCommitment != null)
        {
        <div class="editor-field">
        <input type="text" name="TotalFacilityAmount" id="TotalFacilityAmount" value="@ViewBag.TotalCommitment" />
            </div>
        }
         @*@Retrieve Comments from the database*@
                         <h4>25.0 COMMENTS</h4>
                         <div id="commentlist">
                         <table class="tblboda">
                          <tr>
                           <th>
                         CAM Id
                          </th>
                          <th>
                            Username
                          </th>
                              <th>
                                  Designation
                              </th>
                           <th>
                           Comment
                           </th>
                           <th>
                          Comment Date
                          </th>        
              
                             </tr>
                             @if (ViewBag.Comment != null)
                             {
                                 foreach (Wema_CAM.Models.Comment c in ViewBag.Comment)
                                 {
                             <tr>
                               <td>
                              @c.CAMId
                             </td>
                              <td>
                              @c.Username
                              </td>
                                 <td>
                                     @c.Designation
                                 </td>
                              <td>
                               @c.Comment1
                               </td>
                               <td>
                               @c.CommentDate
                               </td>
       
                                    </tr>
                                 
                                 }
                             }
                </table>
                              <h4>26.0 ADD COMMENT</h4>
    
    <textarea rows ="3" cols="5" name="comment" id="comment"></textarea>
                            
         <p>
         <input type="submit" value="Add Comment" id="addcomment" onclick="return confirm('Are you sure?')"/>
             </p>
                             </div>
          <br />
            <br />
            <br />

          <h4>27.0 ADDITIONAL COMMENTS</h4>
                         <div id="commentlist2">
                         <table class="tblboda">
                          <tr>
                           <th>
                         CAM Id
                          </th>
                          <th>
                            Username
                          </th>
                              <th>
                                  Designation
                              </th>
                           <th>
                           Comment
                           </th>
                           <th>
                          Comment Date
                          </th>        
              
                             </tr>
                             @if (ViewBag.Comment2 != null)
                             {
                                 foreach (Wema_CAM.Models.AdditionalComment c in ViewBag.Comment2)
                                 {
                             <tr>
                               <td>
                              @c.CAMId
                             </td>
                              <td>
                              @c.Username
                              </td>
                                 <td>
                                     @c.Designation
                                 </td>
                              <td>
                               @c.Comment
                               </td>
                               <td>
                               @c.CommentDate
                               </td>
       
                                    </tr>
                                 
                                 }
                             }
                </table>

        <h4>27.0 ADD ADDITIONAL COMMENTS</h4>
       
            <textarea rows ="10" cols="10" name="additionalcomment" id="additionalcomment"></textarea>
        <p>
            <input type="submit" value="ADD COMMENT" id="additionalcommentt" onclick="return confirm('Are you sure?')"/>
        </p>
                             </div>
        <br />
        <br />
        <br />
        <br />
               <h3>PLEASE SELECT NEXT USER TO MOVE CAM TO</h3>
        @Html.DropDownList("NextLevelSupervisor", (SelectList)ViewBag.NextLevelList)
      
       @* <div class="editor-label">
            @Html.LabelFor(model => model.CreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDate)
            @Html.ValidationMessageFor(model => model.CreationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateLastUpdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateLastUpdated)
            @Html.ValidationMessageFor(model => model.DateLastUpdated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateUserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateUserId)
            @Html.ValidationMessageFor(model => model.UpdateUserId)
        </div>*@
        <h3>Select an action to take.</h3><select name="SelectAction" id="SelectAction">
<option>Save</option>
<option>Submit</option>
</select> 
        <p>
         @*<input type="submit" value="Save and Edit later" id="savecam" />*@ <input type="submit" value="Submit" onclick="return confirm('Are you sure?')" />
        </p>
        <div id="dialog-message" title="Message"></div>

    </fieldset>
    }
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
<script type="text/javascript">

    $(document).ready(function () {

        $(".foo").htmlarea();

       // $('.text-box').jqte();
        //$('#t').jqteVal;
        //  $('#t').jqteVal();


    });

    //$("#savecam").click(function (e) {
    //    // alert("s");
    //    e.preventDefault();
    //    $.ajax({
    //        type: "POST",
    //        url: "/CAMForm/saveCAM",
    //        data: {
    //            comment: $("#commenttextarea").val(),
    //            // TotalFacilityAmount: $("#TotalFacilityAmount").val()
    //        },
    //        success: function (data, textStatus, jqXHR) {
    //            $("#dialog-message").text(data.Message);
    //            //disable button
    //            $('#declineid').attr('disabled', 'disabled');
    //            $("#dialog-message").dialog({
    //                modal: true,
    //                buttons: {
    //                    Ok: function () {
    //                        $(this).dialog("close");
    //                        location.reload();
    //                        // $("#commentlist").html(data.Message);
    //                    }

    //                }
    //            });
    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            $("dialog-message").text(data.Message);
    //            $("$dialog-message").dialog({
    //                modal: true,
    //                buttons: {
    //                    Ok: function () {
    //                        $(this).dialog("Close");
    //                    }
    //                }
    //            });
    //        }
    //    });
    //});
    </script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type ="text/javascript">
    //Approve Button click
    $(document).ready(function () {
        if ($("#additionalcommentt").click(function (e) {
               e.preventDefault();
               $.ajax({
                   type: "POST",
            //url: "/WemaCAM/CAMForm/insertComments",
                   url: "/CAMForm/insertAdditionalComments",
                   datatype: "html",
                   data: {
                   additionalcomment: $("#additionalcomment").val(),
               },
                   success: function (data, textStatus, jqXHR) {

            $("#dialog-message").text(data.Message);
            $("#commentlist2").html(data.Feedback);
            $("#additionalcomment").val("");
                       $("#dialog-message").dialog({
                   modal: true,
                   buttons: {
                   Ok: function () {
                                   $(this).dialog("close");
               }
               }
               });
               }
               });
        }

            ));
    });

</script>

<script type ="text/javascript">
    //Approve Button click
    $(document).ready(function () {
        if ($("#addcomment").click(function (e) {
               e.preventDefault();
               $.ajax({
            type: "POST",
            //url: "/WemaCAM/CAMForm/insertComments",
            url: "/CAMForm/insertComments",
            datatype: "html",
            data: {
            comment: $("#comment").val(),
        },
            success: function (data, textStatus, jqXHR) {

            $("#dialog-message").text(data.Message);
            $("#commentlist").html(data.Feedback);
            $("#comment").val("");
                       $("#dialog-message").dialog({
            modal: true,
            buttons: {
            Ok: function () {
                                   $(this).dialog("close");
        }
        }
        });
        }
        });
        }));
    });

</script>